<! DOCTYPE html>

<html>
<head>

<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>Alpha Prep - No Mobile Access</title>
</head>

<body>
<img src="{{ url_for('static', filename='images/alpha preps3.png') }}" style="width:100%;" >

<center><h1>Oh No... <i class="fas fa-frown"></i></h1>

<h3>Sadly you cannot access Alpha Prep on a mobile device as of yet.
<br>Kindly use a desktop or a laptop to access our site.</h3>

<h4>We hope to have you join us on Alpha Prep! <i class="fas fa-smile"></i></h4>
</center>
</body>

</html>