

.signbox{

    font-family: Oxygen, 'Segoe UI', sans-serif;
    padding: 4rem 4rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
    z-index: 999;

}


.signbox {
    margin-top: 100px;
    margin-right: 25%;
    display: none;
    width: 45vw;
    float: right;
    max-width: 70%;
    color: rgb(40, 89, 129);
    background: rgba(22, 22, 22, 0.8);
    box-sizing: border-box;
    padding: 2.5rem 3.2rem;
    border-radius: 15px;
    z-index: 999;
    position: relative;
}

.signbox h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.inputBox {
    position: relative;
    border: none;
    padding-bottom: 7px;
}

.signbox p {
    top: -18px;
    left: 0;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    pointer-events: none;
    transition: .6s;
    letter-spacing: 1px;
}

.signbox input {
    width: 100%;
    padding: 3px 0;
    margin-bottom: 25px;
    border: none;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    color: rgb(248, 246, 246);
    font-size: 16px;
}

.signbox input:focus~p,
.signbox input:valid~p {
    top: -29px;
    left: 0;
    color: #fff;
}

@media (max-width: 800px) {
    .main-section {
        flex-direction: column;
        justify-content: center;
    }
}


/*.signbox input[name="user"]:hover{
content: "Do not forget Username, it will be used to login";

}*/

.container {
    position: relative;
    top: 60px;
    text-align: center;
}

.signbox button {
    color: #fff;
    position: relative;
    background: transparent;
    border-style: solid;
    border-color: crimson;
    outline: none;
    width: 83px;
    height: 34px;
    border-radius: 16px;
}

.signbox button:hover {
    background-color: crimson;
    cursor: pointer;
}
.signbox button:active {
    top:2px;
}


.signbox .end {
    color: #fff;
    font-size: x-small;
}

.animate{
animation: zoom 0.6s
}
 
@keyframes zoom{
    from{transform: scale(0);}
        to{transform: scale(1);}
}
.fas{
    margin-top: 10px;
    color: white;
}
.fas:hover{
    cursor: pointer;
}
#login-button{
border-radius: 20px;
/*background: transparent;*/
background-color: #5E2086;
color: white;
border-width: 0;
position: relative;
}

#login-button:hover{
cursor: pointer;
}

#login-button:active{
top:1px;
}